# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.env

# Data folders
backend/data/uploads/
backend/data/chunks/
backend/data/faiss_indexes/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
